Standard: Cpp11
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
IndentPPDirectives: None
IndentAccessModifiers: false
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: InlineOnly
PackConstructorInitializers: NextLineOnly
Cpp11BracedListStyle: true
IndentCaseLabels: true
BreakBeforeBraces: Custom