__pycache__/
__repo__/
.vscode/tasks.json
armgcc/*/
armgcc/mcux_include.json
armgcc/.DS_Store
.DS_Store
armgcc/build*/
armgcc/*_debug*/
armgcc/*_release*/
.vscode/*
utils/*
projects/*
demo/*
boards/*
# Object files and binaries
*.o
*.obj
*.elf
*.bin
*.map

# IDE / editor files
*.swp
*.swo
*.log
*.tmp
.idea/

# Generated scripts or settings
*.launch
EOF

